@model BoatDataObjects.Boat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Boat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BoatTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoatTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoatStatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoatStatusID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DockSlipID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DockSlipID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BoatID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
